<ul class="nav navbar-nav navbar-right">
    @if (Context.User.Identity.Name != null) {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Binder" asp-action="BinderList"> Your Binders </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="SecurePage"> Hello @Context.User.Identity.Name ! </a>
        </li>
        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <li>
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logoff</a>
            </li>
        </form>
    }
    else {
        <li>
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Log In</a>
        </li>
    }


</ul>