@model IEnumerable<TcgBindersReloaded.Entities.BinderCards>

@{
ViewData["Title"] = "Binder Index";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-3xl font-bold mb-6">Your Cards</h1>

<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card shadow-sm">
                <img src="/@item.Card.Image" class="card-img-top" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@item.Card.Name</h5>
                    @* <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Details</a> *@
                    @* <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a> *@
                    @* <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a> *@
                </div>
            </div>
        </div>
    }
</div>