@model IEnumerable<TcgBindersReloaded.Entities.Binder>

@{
    ViewData["Title"] = "Binder Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Binders</h1>

<p>
    <a asp-action="BinderCreate" class="btn btn-primary">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        <a asp-action="BinderCards" asp-route-id="@item.Id" class="text-decoration-none fw-bold">
                            @item.Name
                        </a>
                    </h5>
                    <div class="mt-3">
                        <a asp-action="BinderEdit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Change Name</a>
                        <a asp-action="BinderDelete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete Binder</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>