html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.no-underline {
  text-decoration: none;
  color: inherit;
}

.no-underline:hover {
  color: #0f3cee; 
}

.bold-text {
  font-weight: bold;
}

.main_color{
  color: #0f3cee;
}
.navbar-brand.main_color {
  color: #0f3cee !important;
}
.navbar-brand.mainB_color {
  font-weight: bold;
  color: #0f3cee !important;
 }

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  padding: 15px;
}

.card-text {
  font-size: 14px;
  color: #555;
}